.header{
    height: 34vw;
    margin: 30px auto;
    background: url('/header_img.webp') no-repeat;
    background-size:contain;
    min-height: 200px;
    background-position: center;
    max-width: 100%;
    position: relative;
}
.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s;
}
.header-contents h2{
    font-weight:500;
    color: rgb(6, 85, 255);
    font-size: max(3.5vw,18px);
}
.header-contents p{
    color: rgb(147 197 253,);
    font-size: 1vw;
}

@media (max-width:1050px) {
    .header{
        height: 38vw;
    }
    .header-contents{
        max-width: 45%;
    }
}
@media(max-width:750px){
    .header-contents{
        max-width: 55%;
    }
    .header-contents p{
       display: none;
    }
    .header-contents button{
        padding: 2vw 4vw;
    }
}